<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BoDi" version="1.4.1" targetFramework="net461" />
  <package id="DotNetSeleniumExtras.PageObjects" version="3.11.0" targetFramework="net461" />
  <package id="DotNetSeleniumExtras.PageObjects.Core" version="3.12.0" targetFramework="net461" />
  <package id="DotNetSeleniumExtras.PageObjects.Core.Linq" version="1.0.0" targetFramework="net461" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net461" />
  <package id="Dynamitey" version="2.0.10.189" targetFramework="net461" />
  <package id="Gherkin" version="6.0.0" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.11.4" targetFramework="net461" />
  <package id="ImpromptuInterface" version="7.0.1" targetFramework="net461" />
  <package id="Microsoft.CodeCoverage" version="16.5.0" targetFramework="net461" />
  <package id="Microsoft.NET.Test.Sdk" version="16.5.0" targetFramework="net461" />
  <package id="Microsoft.TestPlatform.TestHost" version="16.5.0" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="2.1.0" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="2.1.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="NUnit" version="3.12.0" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.16.1" targetFramework="net461" developmentDependency="true" />
  <package id="Selenium.Firefox.WebDriver" version="0.26.0" targetFramework="net461" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="80.0.3987.10600" targetFramework="net461" />
  <package id="Selenium.WebDriver.IEDriver" version="3.150.1" targetFramework="net461" />
  <package id="SpecFlow" version="2.4.1" targetFramework="net461" />
  <package id="SpecFlow.Assist.Dynamic" version="1.3.1" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.3" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net461" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="Utf8Json" version="1.3.7" targetFramework="net461" />
  <package id="xunit.abstractions" version="2.0.3" targetFramework="net461" />
  <package id="xunit.analyzers" version="0.10.0" targetFramework="net461" />
  <package id="xunit.assert" version="2.4.1" targetFramework="net461" />
  <package id="xunit.core" version="2.4.1" targetFramework="net461" />
  <package id="xunit.extensibility.core" version="2.4.1" targetFramework="net461" />
  <package id="xunit.extensibility.execution" version="2.4.1" targetFramework="net461" />
</packages>